body {
  margin: 0;
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron:700&display=swap');
#wiggle {
  animation: wiggle 1s linear;
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.MuiButton-sizeLarge{
  /* width: 10rem;
  height: 10rem; */
  border-radius: 50%;
  font-size: 100rem;
}

.MuiButton-textSizeLarge{
  font-size: 2.938rem !important;
  font-family: 'Orbitron', sans-serif !important;
  color: #ef96e4 !important;
}